---
import Layout from "../layouts/Base.astro";
import data from "../../public/resume.json";
import FormattedDate from "../components/FormattedDate.astro";
---

<Layout title="About Me" description="Hey, I'm Gabriel 👋">
  <div class="flex">
    <div>
      <h1>Innovative Full-stack engineer for your <i></i>tech challenges</h1>
      <p>
        Hi, I'm Gabriel, a full-stack engineer living in Montreal,CA currently
        looking for a full-time job in a startup.
      </p>
    </div>
    <div class="avatar">
      <div class="mask mask-hexagon w-64">
        <img
          src="/profile.png"
          class="md:max-w-md rounded-lg"
          alt="author avatar"
        />
      </div>
    </div>
  </div>

  <h2>Work Experience</h2>
  {
    data.work.map((workExperience) => {
      return (
        <div class="card bg-secondary mb-4">
          <div class="card-body text-base-100">
            <div class="flex">
              <div>
                <h2 class="card-title">{workExperience.position}</h2>
                <em>{workExperience.company}</em>
              </div>
              <span class="ml-auto shrink-0">
                <FormattedDate
                  date={new Date(workExperience.startDate)}
                  style={"short"}
                />
                --
                <FormattedDate
                  date={new Date(workExperience.endDate)}
                  style={"short"}
                />
              </span>
            </div>
            <p>{workExperience.summary}</p>
          </div>
        </div>
      );
    })
  }
</Layout>
