---
type BadgeSize = "xs" | "sm" | "md" | "lg";

interface Props {
  size?: BadgeSize;
  skill: {
    name: string;
    level: number;
    keywords: string[];
  };
}

const { skill, size = "md" } = Astro.props;
const sizes = {
  xs: "badge-xs",
  sm: "badge-sm",
  md: "badge-md",
  lg: "badge-lg",
};
const colorClass = skill.keywords.includes("Framework") ? "bg-blue-100 text-base-100 border-none" : ""
---

<span class={`badge badge-outline mr-1 mb-1 ${sizes[size]} ${colorClass}`}>
  {skill.level === 3 ? <span class="mr-1">✨</span> : ""}{skill.name}
</span>
